header, footer {
  .logo {
    background: url("/64c7c41c14592c2880a3c960.png") no-repeat;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
  }
}

footer .logo {
  margin-top: 1em;
}

body > main {
  min-height: calc(100vh - 20em);
}
