---

---
<style>
  .blog-bottom-section {
    height: 400px;
    .background {
      background: url("https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F9e92aa488c8147ad8e7daada6a9c5074") no-repeat 50% center;
      background-size: cover;
    }
  }
  .blog-bottom-section .inner {
    display: flex;
    height: 100%;
    padding: 20px;
    color: white;
    position: inherit;
    .left {
      width: 60%;
      .h3-contrib {
        color: white;
        font-size: 2.4em;
        padding-top: 2.6em;
      }
      .p-contrib {
        font-size: 1.5em;
      }
    }
    .right {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 40%;
    }
  }
  @media (max-width: 765px) {
    .blog-bottom-section .inner {
      .left .h3-contrib {
        padding-top: 1em;
        font-size: 2em;
      }
    }
  }
</style>

<section class="photo-back blog-bottom-section">
  <div class="background"></div>
  <div class="inner container">
    <div class="left">
      <h3 class="h3-contrib">Your contribution matters!</h3>
      <p class="p-contrib">Make your donation today to save more lives tomorrow!</p>
    </div>
    <div class="right">
      <div>
        <a href="/#donate">
          <button class="donate-button">Donate now</button>
        </a>
      </div>
    </div>
  </div>
</section>
