---
const today = new Date();
---

<footer>
  <div>
    <div class="logo"></div>
  </div>
  <p>
    &copy; {today.getFullYear()} Ukraine Freedom Project. All rights reserved.
  </p>
	<div class="social-links">
    <a href="/privacy-policy">Privacy policy</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 1em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
    display: flex;
    justify-content: space-between;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
